.footer {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
  font-family: var(--ff-secularone);
  color: var(--clr-secondary);
  padding: 1rem;
  row-gap: 1rem;
  letter-spacing: 0.15rem;
}

.footer__text {
  font-weight: 700;
  font-size: clamp(1.1rem, 2vw, 1.8rem);
  text-align: center;
  padding-top: 1rem;
}

.people__counter {
  text-align: center;
}

.text__link__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.footer__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  column-gap: 1rem;
}

@media screen and (min-width: 1100px) {
  .footer {
    padding: 1rem 2rem;
  }
}
