.first__img {
  background-image: url("../img/safari.webp");
}

.second__img {
  background-image: url("../img/white.webp");
}

.third__img {
  background-image: url("../img/safari2.webp");
}

.first__img::before,
.second__img::before,
.third__img::before,
.fourth__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary);
  opacity: 0;
  z-index: 1;
}
